.modal {
  z-index: 300;
  position: fixed;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  width: 80vw;
  height: 70%;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
